body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(-45deg, #EE7752, #E73C73, #23A6D5, #23D5AB);
  background-attachment: fixed;
}

button {
  cursor: pointer;
}

